# Pandas

- Pandas es una librería para manipular y analizar datos.
- Es una interfaz de alto nivel para procesar datos tabulares en varias formatos.
- Proporciona una amplia gama de herramientas para leer y procesar datos.
- Está diseñado para ser rápido, eficiente y fácil de usar.

In [1]:
import numpy as np
import pandas as pd

## Cargar datos des un archivo
### cargar un archivo csv

In [2]:
df = pd.read_csv('nba_players.csv')
df.head()
# Tambien se pueden cargar solo cietos campos
#df = pd.read_csv('nba_players.csv', usecols=['Name', 'Age'])
#df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Lectura de datos de un dataframe

In [4]:
'''
Muestra las cabeceres del dataframe df
'''
print(df.columns)

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [5]:
'''
Muestra las columnas Name y Age del dataframe df
'''
df[['Name', 'Age']]

              Name   Age
0    Avery Bradley  25.0
1      Jae Crowder  25.0
2     John Holland  27.0
3      R.J. Hunter  22.0
4    Jonas Jerebko  29.0
..             ...   ...
452     Trey Lyles  20.0
453   Shelvin Mack  26.0
454      Raul Neto  24.0
455   Tibor Pleiss  26.0
456    Jeff Withey  26.0

[457 rows x 2 columns]

In [6]:
'''
Muestra las primeras 5 filas del dataframe df
'''
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [8]:
'''
Muestra 10 filas del dataframe df
'''
#df.head(10) #las 10 primeras
df.iloc[10:20]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0

### Mostrar las filas en función de una condición

In [9]:
'''
Muesrta TODAS las primeras los jugadores que tengan una edad igual o mayor a 39
'''
df[df['Age'] >= 39]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
102,Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
261,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
400,Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0

In [10]:
'''
Muesrta Solo 3 las primeras los jugadores que tengan una edad igual o mayor a 39
'''
df[df['Age'] >= 39][:3]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
102,Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
261,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0

In [18]:
'''
Muesrta Jugadores salario mayor a 20,000,000
'''
df[df['Salary'] >= 20000000]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
100,Chris Paul,Los Angeles Clippers,3.0,PG,31.0,6-0,175.0,Wake Forest,21468695.0
109,Kobe Bryant,Los Angeles Lakers,24.0,SF,37.0,6-6,212.0,NaN,25000000.0
164,Derrick Rose,Chicago Bulls,1.0,PG,27.0,6-3,190.0,Memphis,20093064.0
169,LeBron James,Cleveland Cavaliers,23.0,SF,31.0,6-8,250.0,NaN,22970500.0
251,Dwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,NaN,22359364.0
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
349,Dwyane Wade,Miami Heat,3.0,SG,34.0,6-4,220.0,Marquette,20000000.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0

In [23]:
'''
Muestra los jugadores de los Minnesota Timberwolves
'''
df[df['Team'] == 'Minnesota Timberwolves']

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
398,Nemanja Bjelica,Minnesota Timberwolves,88.0,PF,28.0,6-10,240.0,NaN,3950001.0
399,Gorgui Dieng,Minnesota Timberwolves,5.0,C,26.0,6-11,241.0,Louisville,1474440.0
400,Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0
401,Tyus Jones,Minnesota Timberwolves,1.0,PG,20.0,6-2,195.0,Duke,1282080.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
403,Shabazz Muhammad,Minnesota Timberwolves,15.0,SF,23.0,6-6,223.0,UCLA,2056920.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
405,Nikola Pekovic,Minnesota Timberwolves,14.0,C,30.0,6-11,307.0,NaN,12100000.0
406,Tayshaun Prince,Minnesota Timberwolves,12.0,SF,36.0,6-9,212.0,Kentucky,947276.0
407,Ricky Rubio,Minnesota Timberwolves,9.0,PG,25.0,6-4,194.0,NaN,12700000.0
408,Damjan Rudez,Minnesota Timberwolves,10.0,SF,29.0,6-9,230.0,NaN,1149500.0
409,Greg Smith,Minnesota Timberwolves,4.0,PF,25.0,6-10,250.0,Fresno State,NaN
410,Karl-Anthony Towns,Minnesota Timberwolves,32.0,C,20.0,7-0,244.0,Kentucky,5703600.0
411,Andrew Wiggins,Minnesota Timberwolves,22.0,SG,21.0,6-8,199.0,Kansas,5758680.0

#### Operaciones con los datos

In [24]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [25]:
'''
Muestra el dataframe ordenado por el atributo Name
'''
df.sort_values('Name')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0

In [26]:
#Ordenar descendente
df.sort_values('Name', ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0
...,...,...,...,...,...,...,...,...,...
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0

In [29]:
'''
Muestra el dataframe ordenado por el atributo Name y Team
'''
df.sort_values(['Team', 'Name'])
#df.sort_values(['Name', 'Team'])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
318,Dennis Schroder,Atlanta Hawks,17.0,PG,22.0,6-1,172.0,NaN,1763400.0
323,Jeff Teague,Atlanta Hawks,0.0,PG,27.0,6-2,186.0,Wake Forest,8000000.0
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
...,...,...,...,...,...,...,...,...,...
381,Marcus Thornton,Washington Wizards,15.0,SF,29.0,6-4,205.0,LSU,200600.0
376,Markieff Morris,Washington Wizards,5.0,PF,26.0,6-10,245.0,Kansas,8000000.0
375,Nene Hilario,Washington Wizards,42.0,C,33.0,6-11,250.0,NaN,13000000.0
378,Otto Porter Jr.,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0
379,Ramon Sessions,Washington Wizards,7.0,PG,30.0,6-3,190.0,Nevada,2170465.0

In [32]:
'''
Ordena alfabetiticamente los equipos y dentro de cada equipo ordena alfabeticamente por nombre (descendente)
'''
df.sort_values(['Team', 'Name'], ascending=[True, False])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
322,Walter Tavares,Atlanta Hawks,22.0,C,24.0,7-3,260.0,NaN,1000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,6-6,205.0,Michigan,1304520.0
321,Tiago Splitter,Atlanta Hawks,11.0,C,31.0,6-11,245.0,NaN,9756250.0
320,Thabo Sefolosha,Atlanta Hawks,25.0,SF,32.0,6-7,220.0,NaN,4000000.0
315,Paul Millsap,Atlanta Hawks,4.0,PF,31.0,6-8,246.0,Louisiana Tech,18671659.0
...,...,...,...,...,...,...,...,...,...
374,JJ Hickson,Washington Wizards,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0
380,Garrett Temple,Washington Wizards,17.0,SG,30.0,6-6,195.0,LSU,1100602.0
372,Drew Gooden,Washington Wizards,90.0,PF,34.0,6-10,250.0,Kansas,3300000.0
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0

#### Modificar el dataframe

In [43]:
'''
Añade una columna al dataframe df con el año de nacimiento del jugador
'''
from datetime import date

df['Nacimiento'] = (date.today().year - df['Age']).astype(int)

# df['Nacimiento'] = df['Nacimiento'].astype(int)

df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Nacimiento
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,1997
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1997
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,1995
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,2000
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,1993

In [44]:
'''
Elimina la columna Nacimiento del dataframe df
'''
df = df.drop('Nacimiento', axis = 1) # Vertical = 1 
# es lo mismo que:
# df.drop('Nacimiento', axis = 1, implace=True)

#### Reordenar columnas

In [38]:
# Ejemplo de reordenamiento de columnas
df1 = df[['Name', 'Position', 'Team', 'Salary','Number', 'Age','Weight', 'Height', 'College']]
df1.head()

,Name,Position,Team,Salary,Number,Age,Weight,Height,College
0,Avery Bradley,PG,Boston Celtics,7730337.0,0.0,25.0,180.0,6-2,Texas
1,Jae Crowder,SF,Boston Celtics,6796117.0,99.0,25.0,235.0,6-6,Marquette
2,John Holland,SG,Boston Celtics,NaN,30.0,27.0,205.0,6-5,Boston University
3,R.J. Hunter,SG,Boston Celtics,1148640.0,28.0,22.0,185.0,6-5,Georgia State
4,Jonas Jerebko,PF,Boston Celtics,5000000.0,8.0,29.0,231.0,6-10,NaN

In [46]:
'''
Reordena las columnas del dataframe df2 (elige tú el orden que quieras)
'''
df2 = df[['College', 'Name', 'Position', 'Team', 'Salary','Number', 'Age','Weight', 'Height']]
df2.head()

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
0,Texas,Avery Bradley,PG,Boston Celtics,7730337.0,0.0,25.0,180.0,6-2
1,Marquette,Jae Crowder,SF,Boston Celtics,6796117.0,99.0,25.0,235.0,6-6
2,Boston University,John Holland,SG,Boston Celtics,NaN,30.0,27.0,205.0,6-5
3,Georgia State,R.J. Hunter,SG,Boston Celtics,1148640.0,28.0,22.0,185.0,6-5
4,NaN,Jonas Jerebko,PF,Boston Celtics,5000000.0,8.0,29.0,231.0,6-10

In [45]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

#### Guardar los datos en un archivo csv

In [49]:
# guarda el dataframe df2 en un archivo csv
df2.to_csv('nba_players2.csv', index=False)

#### Filtrando datos

In [88]:
'''
Carga el dataframe de jugadores en df
filtra los jugadores que tengan de la universidad de Minnesota
'''
df = pd.read_csv('nba_players2.csv')
df.head()

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
0,Texas,Avery Bradley,PG,Boston Celtics,7730337.0,0.0,25.0,180.0,6-2
1,Marquette,Jae Crowder,SF,Boston Celtics,6796117.0,99.0,25.0,235.0,6-6
2,Boston University,John Holland,SG,Boston Celtics,NaN,30.0,27.0,205.0,6-5
3,Georgia State,R.J. Hunter,SG,Boston Celtics,1148640.0,28.0,22.0,185.0,6-5
4,NaN,Jonas Jerebko,PF,Boston Celtics,5000000.0,8.0,29.0,231.0,6-10

In [54]:
'''
Filtra de los Atlanta Hawks los jugadores con mas de 30 años
'''
# Busca indices que cumplan una condición
df[(df['Team'] == 'Atlanta Hawks') & (df['Age'] > 30)]

#df.loc es lo mismo que df[]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
311,Kansas,Kirk Hinrich,SG,Atlanta Hawks,2854940.0,12.0,35.0,190.0,6-4
313,Minnesota,Kris Humphries,PF,Atlanta Hawks,1000000.0,43.0,31.0,235.0,6-9
314,Creighton,Kyle Korver,SG,Atlanta Hawks,5746479.0,26.0,35.0,212.0,6-7
315,Louisiana Tech,Paul Millsap,PF,Atlanta Hawks,18671659.0,4.0,31.0,246.0,6-8
320,NaN,Thabo Sefolosha,SF,Atlanta Hawks,4000000.0,25.0,32.0,220.0,6-7
321,NaN,Tiago Splitter,C,Atlanta Hawks,9756250.0,11.0,31.0,245.0,6-11

## Expresiones regulares


Las expresiones regulares son una forma de escribir un patrón de caracteres que se puede usar para buscar una cadena de texto.

In [55]:
'''
Busca los jugadores que se llamen James
'''
df[df['Name'].str.contains('James')]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
13,Kentucky,James Young,SG,Boston Celtics,1749840.0,13.0,20.0,215.0,6-6
65,Wake Forest,James Johnson,PF,Toronto Raptors,2500000.0,3.0,29.0,250.0,6-9
86,North Carolina,James Michael McAdoo,SF,Golden State Warriors,845059.0,20.0,23.0,240.0,6-9
137,Oklahoma State,James Anderson,SG,Sacramento Kings,1015421.0,5.0,27.0,213.0,6-6
169,NaN,LeBron James,SF,Cleveland Cavaliers,22970500.0,23.0,31.0,250.0,6-8
172,Miami (FL),James Jones,SG,Cleveland Cavaliers,947276.0,1.0,35.0,218.0,6-8
249,Arizona State,James Harden,SG,Houston Rockets,15756438.0,13.0,26.0,220.0,6-5
284,Long Beach State,James Ennis,SF,New Orleans Pelicans,845059.0,4.0,25.0,210.0,6-7

In [72]:
'''
Busca los jugadores que se llamen James como primer nombre
'''
import re

# \s es que a continuación tiene información

df[df['Name'].str.contains(r'James\s', regex=True)]

#df[df['Name'].str.split(' ')[0] == 'James']

#df['Name'].str.split(' ')

#name = "Juan Pedro"
#name.split(' ')[0]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
13,Kentucky,James Young,SG,Boston Celtics,1749840.0,13.0,20.0,215.0,6-6
65,Wake Forest,James Johnson,PF,Toronto Raptors,2500000.0,3.0,29.0,250.0,6-9
86,North Carolina,James Michael McAdoo,SF,Golden State Warriors,845059.0,20.0,23.0,240.0,6-9
137,Oklahoma State,James Anderson,SG,Sacramento Kings,1015421.0,5.0,27.0,213.0,6-6
172,Miami (FL),James Jones,SG,Cleveland Cavaliers,947276.0,1.0,35.0,218.0,6-8
249,Arizona State,James Harden,SG,Houston Rockets,15756438.0,13.0,26.0,220.0,6-5
284,Long Beach State,James Ennis,SF,New Orleans Pelicans,845059.0,4.0,25.0,210.0,6-7

In [59]:
'''
Busca los jugadores con el nombre (ignora mayusculas)
'''
name = 'James Anderson'
df[df['Name'].str.lower() == name.lower()]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
137,Oklahoma State,James Anderson,SG,Sacramento Kings,1015421.0,5.0,27.0,213.0,6-6

In [85]:
'''
Busca los jugadores que se llamen James como primer nombre (ignora mayusculas)
'''

df[df['Name'].str.contains(r'james\s', regex=True, flags=re.IGNORECASE)]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
13,Kentucky,James Young,SG,Boston Celtics,1749840.0,13.0,20.0,215.0,6-6
65,Wake Forest,James Johnson,PF,Toronto Raptors,2500000.0,3.0,29.0,250.0,6-9
86,North Carolina,James Michael McAdoo,SF,Golden State Warriors,845059.0,20.0,23.0,240.0,6-9
137,Oklahoma State,James Anderson,SG,Sacramento Kings,1015421.0,5.0,27.0,213.0,6-6
172,Miami (FL),James Jones,SG,Cleveland Cavaliers,947276.0,1.0,35.0,218.0,6-8
249,Arizona State,James Harden,SG,Houston Rockets,15756438.0,13.0,26.0,220.0,6-5
284,Long Beach State,James Ennis,SF,New Orleans Pelicans,845059.0,4.0,25.0,210.0,6-7

## Cambios condicionales

In [101]:
'''
Busca los jugadores del Boston Celtics y cambialo por Boston Celtics CocaCola
'''
#Aquí se necesita el loc

df.loc[df['Team'] == 'Boston Celtics', 'Team'] = 'Boston Celtics CocaCola'
df.loc[df['Team'].str.contains(r'Celtics\s', regex=True)]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
0,Texas,Avery Bradley,PG,Boston Celtics CocaCola,7730337.0,0.0,25.0,180.0,6-2
1,Marquette,Jae Crowder,SF,Boston Celtics CocaCola,6796117.0,99.0,25.0,235.0,6-6
2,Boston University,John Holland,SG,Boston Celtics CocaCola,NaN,30.0,27.0,205.0,6-5
3,Georgia State,R.J. Hunter,SG,Boston Celtics CocaCola,1148640.0,28.0,22.0,185.0,6-5
4,NaN,Jonas Jerebko,PF,Boston Celtics CocaCola,5000000.0,8.0,29.0,231.0,6-10
5,NaN,Amir Johnson,PF,Boston Celtics CocaCola,12000000.0,90.0,29.0,240.0,6-9
6,LSU,Jordan Mickey,PF,Boston Celtics CocaCola,1170960.0,55.0,21.0,235.0,6-8
7,Gonzaga,Kelly Olynyk,C,Boston Celtics CocaCola,2165160.0,41.0,25.0,238.0,7-0
8,Louisville,Terry Rozier,PG,Boston Celtics CocaCola,1824360.0,12.0,22.0,190.0,6-2
9,Oklahoma State,Marcus Smart,PG,Boston Celtics CocaCola,3431040.0,36.0,22.0,220.0,6-4
10,Ohio State,Jared Sullinger,C,Boston Celtics CocaCola,2569260.0,7.0,24.0,260.0,6-9
11,Washington,Isaiah Thomas,PG,Boston Celtics CocaCola,6912869.0,4.0,27.0,185.0,5-9
12,Ohio State,Evan Turner,SG,Boston Celtics CocaCola,3425510.0,11.0,27.0,220.0,6-7
13,Kentucky,James Young,SG,Boston Celtics CocaCola,1749840.0,13.0,20.0,215.0,6-6
14,North Carolina,Tyler Zeller,C,Boston Celtics CocaCola,2616975.0,44.0,26.0,253.0,7-0

In [100]:
df.loc[df['Team'] == 'Boston Celtics CocaCola', 'Team'] = 'Boston Celtics'
df.loc[df['Team'].str.contains(r'^Boston', regex=True)]

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
0,Texas,Avery Bradley,PG,Boston Celtics,7730337.0,0.0,25.0,180.0,6-2
1,Marquette,Jae Crowder,SF,Boston Celtics,6796117.0,99.0,25.0,235.0,6-6
2,Boston University,John Holland,SG,Boston Celtics,NaN,30.0,27.0,205.0,6-5
3,Georgia State,R.J. Hunter,SG,Boston Celtics,1148640.0,28.0,22.0,185.0,6-5
4,NaN,Jonas Jerebko,PF,Boston Celtics,5000000.0,8.0,29.0,231.0,6-10
5,NaN,Amir Johnson,PF,Boston Celtics,12000000.0,90.0,29.0,240.0,6-9
6,LSU,Jordan Mickey,PF,Boston Celtics,1170960.0,55.0,21.0,235.0,6-8
7,Gonzaga,Kelly Olynyk,C,Boston Celtics,2165160.0,41.0,25.0,238.0,7-0
8,Louisville,Terry Rozier,PG,Boston Celtics,1824360.0,12.0,22.0,190.0,6-2
9,Oklahoma State,Marcus Smart,PG,Boston Celtics,3431040.0,36.0,22.0,220.0,6-4
10,Ohio State,Jared Sullinger,C,Boston Celtics,2569260.0,7.0,24.0,260.0,6-9
11,Washington,Isaiah Thomas,PG,Boston Celtics,6912869.0,4.0,27.0,185.0,5-9
12,Ohio State,Evan Turner,SG,Boston Celtics,3425510.0,11.0,27.0,220.0,6-7
13,Kentucky,James Young,SG,Boston Celtics,1749840.0,13.0,20.0,215.0,6-6
14,North Carolina,Tyler Zeller,C,Boston Celtics,2616975.0,44.0,26.0,253.0,7-0

In [102]:
df.head()

,College,Name,Position,Team,Salary,Number,Age,Weight,Height
0,Texas,Avery Bradley,PG,Boston Celtics CocaCola,7730337.0,0.0,25.0,180.0,6-2
1,Marquette,Jae Crowder,SF,Boston Celtics CocaCola,6796117.0,99.0,25.0,235.0,6-6
2,Boston University,John Holland,SG,Boston Celtics CocaCola,NaN,30.0,27.0,205.0,6-5
3,Georgia State,R.J. Hunter,SG,Boston Celtics CocaCola,1148640.0,28.0,22.0,185.0,6-5
4,NaN,Jonas Jerebko,PF,Boston Celtics CocaCola,5000000.0,8.0,29.0,231.0,6-10

## Funciones de agregación

In [106]:
'''
Agrupa los jugadores por universidad y suma su salario
'''
resultado = df.groupby('College')['Salary'].sum()
resultado

College
Alabama              4265059.0
Arizona             43237322.0
Arizona State       15867882.0
Arkansas             8139540.0
Baylor                981348.0
                       ...
Western Michigan      845059.0
Wichita State         845059.0
Wisconsin            9872459.0
Wyoming              1155600.0
Xavier               1499187.0
Name: Salary, Length: 118, dtype: float64

In [109]:
'''
Agrupa los jugadores por universidad y suma su salario y ordenalos por salario
'''
resultado = df.groupby('College')['Salary'].sum().sort_values(ascending=False)
resultado

College
Kentucky             137706556.0
UCLA                  81259810.0
Texas                 80712010.0
Duke                  79979176.0
Florida               65335712.0
                        ...
Iowa State              169883.0
UC Santa Barbara        139119.0
Detroit                      0.0
Rhode Island                 0.0
Boston University            0.0
Name: Salary, Length: 118, dtype: float64

In [114]:
'''
Agrupamos los jugadores por universidad y contabilizamos cuantos jugadores hay en cada una
'''
# df['count'] = 1
# resultado = df.groupby('College')['count'].sum().sort_values(ascending=False)
# resultado
# df = df.drop('count', axis = 1) # Vertical = 1 


#Esto es más óptimo
resultado = df.groupby('College').Name.count().sort_values(ascending=False)
resultado

College
Kentucky          22
Duke              20
Kansas            18
North Carolina    16
UCLA              15
                  ..
Kansas State       1
Iowa State         1
Iowa               1
IUPUI              1
Xavier             1
Name: Name, Length: 118, dtype: int64

### Trabajando con cantidades grandes de datos

In [2]:
import pandas as pd
for df in pd.read_csv('nba_players.csv', chunksize=5): #De 5 a 5 en memoria
    print(df)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
            Name            Team  Number Position   Age Height  Weight  \
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

          College      Salary
5             NaN  12000000.0
6             LSU   1170960.0
7         Gonzaga   2165160.0
8      Louisville   1824360.0
9  Oklahoma State   3431040.0
               Name            Team  Number Position   Age Height  Weight  \
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

           College     Salary
10      Ohio State  2569260.0
11      Washington  6912869.0
12      Ohio State  3425510.0
13        Kentucky  1749840.0
14  North Carolina  2616975.0
                       Name           Team  Number Position   Age Height  \
15         Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington  Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack  Brooklyn Nets     2.0       PG  32.0    6-3

    Weight         College     Salary
15   216.0             NaN  3425510.0
16   190.0  Oklahoma State   845059.0
17   200.0  North Carolina  1500000.0
18   220.0         Arizona  1335480.0
19   200.0    Georgia Tech  6300000.0
                Name           Team  Number Position   Age Height  Weight  \
20    Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7   208.0
21   Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4   219.0
22      Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11   175.0
23       Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0   275.0
24  Chris McCullough  Brooklyn Nets     1.0       PF  21.0   6-11   200.0

       College      Salary
20         NaN   1599840.0
21  Cincinnati    134215.0
22  Miami (FL)   1500000.0
23    Stanford  19689000.0
24    Syracuse   1140240.0
               Name           Team  Number Position   Age Height  Weight  \
25      Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10   220.0
26  Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10   237.0
27       Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10   248.0
28     Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3   205.0
29   Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8   221.0

         College      Salary
25   Saint Louis    947276.0
26        Kansas    981348.0
27    Georgetown    947276.0
28     Texas A&M    947276.0
29  Georgia Tech  11235955.0
                      Name             Team  Number Position   Age Height  \
30           Arron Afflalo  New York Knicks     4.0       SG  30.0    6-5
31            Lou Amundson  New York Knicks    17.0       PF  33.0    6-9
32  Thanasis Antetokounmpo  New York Knicks    43.0       SF  23.0    6-7
33         Carmelo Anthony  New York Knicks     7.0       SF  32.0    6-8
34           Jose Calderon  New York Knicks     3.0       PG  34.0    6-3

    Weight   College      Salary
30   210.0      UCLA   8000000.0
31   220.0      UNLV   1635476.0
32   205.0       NaN     30888.0
33   240.0  Syracuse  22875000.0
34   200.0       NaN   7402812.0
                 Name             Team  Number Position   Age Height  Weight  \
35   Cleanthony Early  New York Knicks    11.0       SF  25.0    6-8   210.0
36  Langston Galloway  New York Knicks     2.0       SG  24.0    6-2   200.0
37       Jerian Grant  New York Knicks    13.0       PG  23.0    6-4   195.0
38        Robin Lopez  New York Knicks     8.0        C  28.0    7-0   255.0
39       Kyle O'Quinn  New York Knicks     9.0       PF  26.0   6-10   250.0

           College      Salary
35   Wichita State    845059.0
36  Saint Joseph's    845059.0
37      Notre Dame   1572360.0
38        Stanford  12650000.0
39   Norfolk State   3750000.0
                  Name             Team  Number Position   Age Height  Weight  \
40  Kristaps Porzingis  New York Knicks     6.0       PF  20.0    7-3   240.0
41      Kevin Seraphin  New York Knicks     1.0        C  26.0   6-10   278.0
42        Lance Thomas  New York Knicks    42.0       SF  28.0    6-8   235.0
43       Sasha Vujacic  New York Knicks    18.0       SG  32.0    6-7   195.0
44    Derrick Williams  New York Knicks    23.0       PF  25.0    6-8   240.0

    College     Salary
40      NaN  4131720.0
41      NaN  2814000.0
42     Duke  1636842.0
43      NaN   947276.0
44  Arizona  4000000.0
                Name                Team  Number Position   Age Height  \
45       Tony Wroten     New York Knicks     5.0       SG  23.0    6-6
46       Elton Brand  Philadelphia 76ers    42.0       PF  37.0    6-9
47     Isaiah Canaan  Philadelphia 76ers     0.0       PG  25.0    6-0
48  Robert Covington  Philadelphia 76ers    33.0       SF  25.0    6-9
49       Joel Embiid  Philadelphia 76ers    21.0        C  22.0    7-0

    Weight          College     Salary
45   205.0       Washington   167406.0
46   254.0             Duke        NaN
47   201.0     Murray State   947276.0
48   215.0  Tennessee State  1000000.0
49   250.0           Kansas  4626960.0
                Name                Team  Number Position   Age Height  \
50      Jerami Grant  Philadelphia 76ers    39.0       SF  22.0    6-8
51    Richaun Holmes  Philadelphia 76ers    22.0       PF  22.0   6-10
52       Carl Landry  Philadelphia 76ers     7.0       PF  32.0    6-9
53  Kendall Marshall  Philadelphia 76ers     5.0       PG  24.0    6-4
54    T.J. McConnell  Philadelphia 76ers    12.0       PG  24.0    6-2

    Weight         College     Salary
50   210.0        Syracuse   845059.0
51   245.0   Bowling Green  1074169.0
52   248.0          Purdue  6500000.0
53   200.0  North Carolina  2144772.0
54   200.0         Arizona   525093.0
               Name                Team  Number Position   Age Height  Weight  \
55     Nerlens Noel  Philadelphia 76ers     4.0       PF  22.0   6-11   228.0
56    Jahlil Okafor  Philadelphia 76ers     8.0        C  20.0   6-11   275.0
57        Ish Smith  Philadelphia 76ers     1.0       PG  27.0    6-0   175.0
58     Nik Stauskas  Philadelphia 76ers    11.0       SG  22.0    6-6   205.0
59  Hollis Thompson  Philadelphia 76ers    31.0       SG  25.0    6-8   206.0

        College     Salary
55     Kentucky  3457800.0
56         Duke  4582680.0
57  Wake Forest   947276.0
58     Michigan  2869440.0
59   Georgetown   947276.0
               Name                Team  Number Position   Age Height  Weight  \
60   Christian Wood  Philadelphia 76ers    35.0       PF  20.0   6-11   220.0
61  Bismack Biyombo     Toronto Raptors     8.0        C  23.0    6-9   245.0
62    Bruno Caboclo     Toronto Raptors    20.0       SF  20.0    6-9   205.0
63  DeMarre Carroll     Toronto Raptors     5.0       SF  29.0    6-8   212.0
64    DeMar DeRozan     Toronto Raptors    10.0       SG  26.0    6-7   220.0

     College      Salary
60      UNLV    525093.0
61       NaN   2814000.0
62       NaN   1524000.0
63  Missouri  13600000.0
64       USC  10050000.0
                 Name             Team  Number Position   Age Height  Weight  \
65      James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
66        Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
67         Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0
68     Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0

        College      Salary
65  Wake Forest   2500000.0
66        Texas   7000000.0
67    Villanova  12000000.0
68          NaN   1842000.0
69     Kentucky   6268675.0
                 Name             Team  Number Position   Age Height  Weight  \
70      Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0
71      Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0
72         Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0
73     Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0

       College     Salary
70        UCLA   650000.0
71  Washington  3553917.0
72         NaN  2900000.0
73       Rider   245177.0
74         NaN  4660482.0
               Name                   Team  Number Position   Age Height  \
75     Delon Wright        Toronto Raptors    55.0       PG  24.0    6-5
76  Leandro Barbosa  Golden State Warriors    19.0       SG  33.0    6-3
77  Harrison Barnes  Golden State Warriors    40.0       SF  24.0    6-8
78     Andrew Bogut  Golden State Warriors    12.0        C  31.0    7-0
79        Ian Clark  Golden State Warriors    21.0       SG  25.0    6-3

    Weight         College      Salary
75   190.0            Utah   1509360.0
76   194.0             NaN   2500000.0
77   225.0  North Carolina   3873398.0
78   260.0            Utah  13800000.0
79   175.0         Belmont    947276.0
                Name                   Team  Number Position   Age Height  \
80     Stephen Curry  Golden State Warriors    30.0       PG  28.0    6-3
81      Festus Ezeli  Golden State Warriors    31.0        C  26.0   6-11
82    Draymond Green  Golden State Warriors    23.0       PF  26.0    6-7
83    Andre Iguodala  Golden State Warriors     9.0       SF  32.0    6-6
84  Shaun Livingston  Golden State Warriors    34.0       PG  30.0    6-7

    Weight         College      Salary
80   190.0        Davidson  11370786.0
81   265.0      Vanderbilt   2008748.0
82   230.0  Michigan State  14260870.0
83   215.0         Arizona  11710456.0
84   192.0             NaN   5543725.0
                    Name                   Team  Number Position   Age Height  \
85          Kevon Looney  Golden State Warriors    36.0       SF  20.0    6-9
86  James Michael McAdoo  Golden State Warriors    20.0       SF  23.0    6-9
87          Brandon Rush  Golden State Warriors     4.0       SF  30.0    6-6
88     Marreese Speights  Golden State Warriors     5.0        C  28.0   6-10
89         Klay Thompson  Golden State Warriors    11.0       SG  26.0    6-7

    Weight           College      Salary
85   220.0              UCLA   1131960.0
86   240.0    North Carolina    845059.0
87   220.0            Kansas   1270964.0
88   255.0           Florida   3815000.0
89   215.0  Washington State  15501000.0
                Name                   Team  Number Position   Age Height  \
90  Anderson Varejao  Golden State Warriors    18.0       PF  33.0   6-11
91      Cole Aldrich   Los Angeles Clippers    45.0        C  27.0   6-11
92        Jeff Ayres   Los Angeles Clippers    19.0       PF  29.0    6-9
93    Jamal Crawford   Los Angeles Clippers    11.0       SG  36.0    6-5
94    Branden Dawson   Los Angeles Clippers    22.0       SF  23.0    6-6

    Weight         College     Salary
90   273.0             NaN   289755.0
91   250.0          Kansas  1100602.0
92   250.0   Arizona State   111444.0
93   195.0        Michigan  5675000.0
94   225.0  Michigan State   525093.0
                        Name                  Team  Number Position   Age  \
95                Jeff Green  Los Angeles Clippers     8.0       SF  29.0
96             Blake Griffin  Los Angeles Clippers    32.0       PF  27.0
97            Wesley Johnson  Los Angeles Clippers    33.0       SF  28.0
98            DeAndre Jordan  Los Angeles Clippers     6.0        C  27.0
99  Luc Richard Mbah a Moute  Los Angeles Clippers    12.0       PF  29.0

   Height  Weight     College      Salary
95    6-9   235.0  Georgetown   9650000.0
96   6-10   251.0    Oklahoma  18907726.0
97    6-7   215.0    Syracuse   1100602.0
98   6-11   265.0   Texas A&M  19689000.0
99    6-8   230.0        UCLA    947276.0
               Name                  Team  Number Position   Age Height  \
100      Chris Paul  Los Angeles Clippers     3.0       PG  31.0    6-0
101     Paul Pierce  Los Angeles Clippers    34.0       SF  38.0    6-7
102  Pablo Prigioni  Los Angeles Clippers     9.0       PG  39.0    6-3
103       JJ Redick  Los Angeles Clippers     4.0       SG  31.0    6-4
104   Austin Rivers  Los Angeles Clippers    25.0       PG  23.0    6-4

     Weight      College      Salary
100   175.0  Wake Forest  21468695.0
101   235.0       Kansas   3376000.0
102   185.0          NaN    947726.0
103   190.0         Duke   7085000.0
104   200.0         Duke   3110796.0
              Name                  Team  Number Position   Age Height  \
105    C.J. Wilcox  Los Angeles Clippers    30.0       SG  25.0    6-5
106   Brandon Bass    Los Angeles Lakers     2.0       PF  31.0    6-8
107    Tarik Black    Los Angeles Lakers    28.0        C  24.0    6-9
108  Anthony Brown    Los Angeles Lakers     3.0       SF  23.0    6-7
109    Kobe Bryant    Los Angeles Lakers    24.0       SF  37.0    6-6

     Weight     College      Salary
105   195.0  Washington   1159680.0
106   250.0         LSU   3000000.0
107   250.0      Kansas    845059.0
108   210.0    Stanford    700000.0
109   212.0         NaN  25000000.0
                Name                Team  Number Position   Age Height  \
110  Jordan Clarkson  Los Angeles Lakers     6.0       PG  24.0    6-5
111      Roy Hibbert  Los Angeles Lakers    17.0        C  29.0    7-2
112  Marcelo Huertas  Los Angeles Lakers     9.0       PG  33.0    6-3
113       Ryan Kelly  Los Angeles Lakers     4.0       PF  25.0   6-11
114  Larry Nance Jr.  Los Angeles Lakers     7.0       PF  23.0    6-9

     Weight     College      Salary
110   194.0    Missouri    845059.0
111   270.0  Georgetown  15592217.0
112   200.0         NaN    525093.0
113   230.0        Duke   1724250.0
114   230.0     Wyoming   1155600.0
                  Name                Team  Number Position   Age Height  \
115      Julius Randle  Los Angeles Lakers    30.0       PF  21.0    6-9
116   D'Angelo Russell  Los Angeles Lakers     1.0       PG  20.0    6-5
117       Robert Sacre  Los Angeles Lakers    50.0        C  27.0    7-0
118     Louis Williams  Los Angeles Lakers    23.0       SG  29.0    6-1
119  Metta World Peace  Los Angeles Lakers    37.0       SF  36.0    6-7

     Weight     College     Salary
115   250.0    Kentucky  3132240.0
116   195.0  Ohio State  5103120.0
117   270.0     Gonzaga   981348.0
118   175.0         NaN  7000000.0
119   260.0  St. John's   947276.0
               Name                Team  Number Position   Age Height  Weight  \
120      Nick Young  Los Angeles Lakers     0.0       SF  31.0    6-7   210.0
121    Eric Bledsoe        Phoenix Suns     2.0       PG  26.0    6-1   190.0
122    Devin Booker        Phoenix Suns     1.0       SG  19.0    6-6   206.0
123  Chase Budinger        Phoenix Suns    10.0       SF  28.0    6-7   209.0
124  Tyson Chandler        Phoenix Suns     4.0        C  33.0    7-1   240.0

      College      Salary
120       USC   5219169.0
121  Kentucky  13500000.0
122  Kentucky   2127840.0
123   Arizona    206192.0
124       NaN  13000000.0
               Name          Team  Number Position   Age Height  Weight  \
125  Archie Goodwin  Phoenix Suns    20.0       SG  21.0    6-5   200.0
126    John Jenkins  Phoenix Suns    23.0       SG  25.0    6-4   215.0
127  Brandon Knight  Phoenix Suns     3.0       PG  24.0    6-3   189.0
128        Alex Len  Phoenix Suns    21.0        C  22.0    7-1   260.0
129       Jon Leuer  Phoenix Suns    30.0       PF  27.0   6-10   228.0

        College      Salary
125    Kentucky   1160160.0
126  Vanderbilt    981348.0
127    Kentucky  13500000.0
128    Maryland   3807120.0
129   Wisconsin   1035000.0
                Name          Team  Number Position   Age Height  Weight  \
130     Phil Pressey  Phoenix Suns    25.0       PG  25.0   5-11   175.0
131     Ronnie Price  Phoenix Suns    14.0       PG  32.0    6-2   190.0
132  Mirza Teletovic  Phoenix Suns    35.0       PF  30.0    6-9   242.0
133      P.J. Tucker  Phoenix Suns    17.0       SF  31.0    6-6   245.0
134      T.J. Warren  Phoenix Suns    12.0       SF  22.0    6-8   230.0

                  College     Salary
130              Missouri    55722.0
131           Utah Valley   947276.0
132                   NaN  5500000.0
133                 Texas  5500000.0
134  North Carolina State  2041080.0
                Name              Team  Number Position   Age Height  Weight  \
135    Alan Williams      Phoenix Suns    15.0        C  23.0    6-8   260.0
136       Quincy Acy  Sacramento Kings    13.0       SF  25.0    6-7   240.0
137   James Anderson  Sacramento Kings     5.0       SG  27.0    6-6   213.0
138  Marco Belinelli  Sacramento Kings     3.0       SG  30.0    6-5   210.0
139     Caron Butler  Sacramento Kings    31.0       SF  36.0    6-7   228.0

              College     Salary
135  UC Santa Barbara    83397.0
136            Baylor   981348.0
137    Oklahoma State  1015421.0
138               NaN  6060606.0
139       Connecticut  1449187.0
                    Name              Team  Number Position   Age Height  \
140          Omri Casspi  Sacramento Kings    18.0       SF  27.0    6-9
141  Willie Cauley-Stein  Sacramento Kings     0.0        C  22.0    7-0
142      Darren Collison  Sacramento Kings     7.0       PG  28.0    6-0
143     DeMarcus Cousins  Sacramento Kings    15.0        C  25.0   6-11
144           Seth Curry  Sacramento Kings    30.0       SG  25.0    6-2

     Weight   College      Salary
140   225.0       NaN   2836186.0
141   240.0  Kentucky   3398280.0
142   175.0      UCLA   5013559.0
143   270.0  Kentucky  15851950.0
144   185.0      Duke    947276.0
              Name              Team  Number Position   Age Height  Weight  \
145     Duje Dukan  Sacramento Kings    26.0       PF  24.0    6-9   220.0
146       Rudy Gay  Sacramento Kings     8.0       SF  29.0    6-8   230.0
147   Kosta Koufos  Sacramento Kings    41.0        C  27.0    7-0   265.0
148   Ben McLemore  Sacramento Kings    23.0       SG  23.0    6-5   195.0
149  Eric Moreland  Sacramento Kings    25.0       PF  24.0   6-10   238.0

          College      Salary
145     Wisconsin    525093.0
146   Connecticut  12403101.0
147    Ohio State   7700000.0
148        Kansas   3156600.0
149  Oregon State    845059.0
                 Name              Team  Number Position   Age Height  Weight  \
150       Rajon Rondo  Sacramento Kings     9.0       PG  30.0    6-1   186.0
151  Cameron Bairstow     Chicago Bulls    41.0       PF  25.0    6-9   250.0
152      Aaron Brooks     Chicago Bulls     0.0       PG  31.0    6-0   161.0
153      Jimmy Butler     Chicago Bulls    21.0       SG  26.0    6-7   220.0
154     Mike Dunleavy     Chicago Bulls    34.0       SG  35.0    6-9   230.0

        College      Salary
150    Kentucky   9500000.0
151  New Mexico    845059.0
152      Oregon   2250000.0

                Name               Team  Number Position   Age Height  Weight  \
320  Thabo Sefolosha      Atlanta Hawks    25.0       SF  32.0    6-7   220.0
321   Tiago Splitter      Atlanta Hawks    11.0        C  31.0   6-11   245.0
322   Walter Tavares      Atlanta Hawks    22.0        C  24.0    7-3   260.0
323      Jeff Teague      Atlanta Hawks     0.0       PG  27.0    6-2   186.0
324    Nicolas Batum  Charlotte Hornets     5.0       SG  27.0    6-8   200.0

         College      Salary
320          NaN   4000000.0
321          NaN   9756250.0
322          NaN   1000000.0
323  Wake Forest   8000000.0
324          NaN  13125306.0
                 Name               Team  Number Position   Age Height  \
325      Troy Daniels  Charlotte Hornets    30.0       SG  24.0    6-4
326   Jorge Gutierrez  Charlotte Hornets    12.0       PG  27.0    6-3
327  Tyler Hansbrough  Charlotte Hornets    50.0       PF  30.0    6-9
328    Aaron Harrison  Charlotte Hornets     9.0       SG  21.0    6-6
329     Spencer Hawes  Charlotte Hornets     0.0       PF  28.0    7-1

     Weight                College     Salary
325   205.0  Virginia Commonwealth   947276.0
326   189.0             California   189455.0
327   250.0         North Carolina   947276.0
328   210.0               Kentucky   525093.0
329   245.0             Washington  6110034.0
                       Name               Team  Number Position   Age Height  \
330            Al Jefferson  Charlotte Hornets    25.0        C  31.0   6-10
331      Frank Kaminsky III  Charlotte Hornets    44.0        C  23.0    7-0
332  Michael Kidd-Gilchrist  Charlotte Hornets    14.0       SF  22.0    6-7
333             Jeremy Lamb  Charlotte Hornets     3.0       SG  24.0    6-5
334            Courtney Lee  Charlotte Hornets     1.0       SG  30.0    6-5

     Weight           College      Salary
330   289.0               NaN  13500000.0
331   240.0         Wisconsin   2612520.0
332   232.0          Kentucky   6331404.0
333   185.0       Connecticut   3034356.0
334   200.0  Western Kentucky   5675000.0
                Name               Team  Number Position   Age Height  Weight  \
335       Jeremy Lin  Charlotte Hornets     7.0       PG  27.0    6-3   200.0
336     Kemba Walker  Charlotte Hornets    15.0       PG  26.0    6-1   184.0
337  Marvin Williams  Charlotte Hornets     2.0       PF  29.0    6-9   237.0
338      Cody Zeller  Charlotte Hornets    40.0        C  23.0    7-0   240.0
339       Chris Bosh         Miami Heat     1.0       PF  32.0   6-11   235.0

            College      Salary
335         Harvard   2139000.0
336     Connecticut  12000000.0
337  North Carolina   7000000.0
338         Indiana   4204200.0
339    Georgia Tech  22192730.0
              Name        Team  Number Position   Age Height  Weight  \
340      Luol Deng  Miami Heat     9.0       SF  31.0    6-9   220.0
341   Goran Dragic  Miami Heat     7.0       PG  30.0    6-3   190.0
342   Gerald Green  Miami Heat    14.0       SF  30.0    6-7   205.0
343  Udonis Haslem  Miami Heat    40.0       PF  36.0    6-8   235.0
344    Joe Johnson  Miami Heat     2.0       SF  34.0    6-7   240.0

      College      Salary
340      Duke  10151612.0
341       NaN  14783000.0
342       NaN    947276.0
343   Florida   2854940.0
344  Arkansas    261894.0
                  Name        Team  Number Position   Age Height  Weight  \
345      Tyler Johnson  Miami Heat     8.0       SG  24.0    6-4   186.0
346     Josh McRoberts  Miami Heat     4.0       PF  29.0   6-10   240.0
347    Josh Richardson  Miami Heat     0.0       SG  22.0    6-6   200.0
348  Amar'e Stoudemire  Miami Heat     5.0       PF  33.0   6-10   245.0
349        Dwyane Wade  Miami Heat     3.0       SG  34.0    6-4   220.0

          College      Salary
345  Fresno State    845059.0
346          Duke   5543725.0
347     Tennessee    525093.0
348           NaN    947276.0
349     Marquette  20000000.0
                 Name           Team  Number Position   Age Height  Weight  \
350     Briante Weber     Miami Heat    12.0       PG  23.0    6-2   165.0
351  Hassan Whiteside     Miami Heat    21.0        C  26.0    7-0   265.0
352   Justise Winslow     Miami Heat    20.0       SF  20.0    6-7   225.0
353     Dorell Wright     Miami Heat    11.0       SF  30.0    6-9   205.0
354    Dewayne Dedmon  Orlando Magic     3.0        C  26.0    7-0   245.0

                   College     Salary
350  Virginia Commonwealth        NaN
351               Marshall   981348.0
352                   Duke  2481720.0
353                    NaN        NaN
354                    USC   947276.0
                 Name           Team  Number Position   Age Height  Weight  \
355     Evan Fournier  Orlando Magic    10.0       SG  23.0    6-7   205.0
356      Aaron Gordon  Orlando Magic     0.0       PF  20.0    6-9   220.0
357     Mario Hezonja  Orlando Magic    23.0       SG  21.0    6-8   218.0
358    Ersan Ilyasova  Orlando Magic     7.0       PF  29.0   6-10   235.0
359  Brandon Jennings  Orlando Magic    55.0       PG  26.0    6-1   169.0

     College     Salary
355      NaN  2288205.0
356  Arizona  4171680.0
357      NaN  3741480.0
358      NaN  7900000.0
359      NaN  8344497.0
                 Name           Team  Number Position   Age Height  Weight  \
360      Devyn Marble  Orlando Magic    11.0       SF  23.0    6-6   200.0
361    Shabazz Napier  Orlando Magic    13.0       PG  24.0    6-1   175.0
362  Andrew Nicholson  Orlando Magic    44.0       PF  26.0    6-9   250.0
363    Victor Oladipo  Orlando Magic     5.0       SG  24.0    6-4   210.0
364     Elfrid Payton  Orlando Magic     4.0       PG  22.0    6-4   185.0

                 College     Salary
360                 Iowa   845059.0
361          Connecticut  1294440.0
362      St. Bonaventure  2380593.0
363              Indiana  5192520.0
364  Louisiana-Lafayette  2505720.0
               Name                Team  Number Position   Age Height  Weight  \
365     Jason Smith       Orlando Magic    14.0       PF  30.0    7-0   240.0
366  Nikola Vucevic       Orlando Magic     9.0        C  25.0    7-0   260.0
367     C.J. Watson       Orlando Magic    32.0       PG  32.0    6-2   175.0
368   Alan Anderson  Washington Wizards     6.0       SG  33.0    6-6   220.0
369    Bradley Beal  Washington Wizards     3.0       SG  22.0    6-5   207.0

            College      Salary
365  Colorado State   4300000.0
366             USC  11250000.0
367       Tennessee   5000000.0
368  Michigan State   4000000.0
369         Florida   5694674.0
              Name                Team  Number Position   Age Height  Weight  \
370   Jared Dudley  Washington Wizards     1.0       SF  30.0    6-7   225.0
371   Jarell Eddie  Washington Wizards     8.0       SG  24.0    6-7   218.0
372    Drew Gooden  Washington Wizards    90.0       PF  34.0   6-10   250.0
373  Marcin Gortat  Washington Wizards    13.0        C  32.0   6-11   240.0
374     JJ Hickson  Washington Wizards    21.0        C  27.0    6-9   242.0

                  College      Salary
370        Boston College   4375000.0
371         Virginia Tech    561716.0
372                Kansas   3300000.0
373                   NaN  11217391.0
374  North Carolina State    273038.0
                Name                Team  Number Position   Age Height  \
375     Nene Hilario  Washington Wizards    42.0        C  33.0   6-11
376  Markieff Morris  Washington Wizards     5.0       PF  26.0   6-10
377  Kelly Oubre Jr.  Washington Wizards    12.0       SF  20.0    6-7
378  Otto Porter Jr.  Washington Wizards    22.0       SF  23.0    6-8
379   Ramon Sessions  Washington Wizards     7.0       PG  30.0    6-3

     Weight     College      Salary
375   250.0         NaN  13000000.0
376   245.0      Kansas   8000000.0
377   205.0      Kansas   1920240.0
378   198.0  Georgetown   4662960.0
379   190.0      Nevada   2170465.0
                Name                Team  Number Position   Age Height  \
380   Garrett Temple  Washington Wizards    17.0       SG  30.0    6-6
381  Marcus Thornton  Washington Wizards    15.0       SF  29.0    6-4
382        John Wall  Washington Wizards     2.0       PG  25.0    6-4
383   Darrell Arthur      Denver Nuggets     0.0       PF  28.0    6-9
384    D.J. Augustin      Denver Nuggets    12.0       PG  28.0    6-0

     Weight   College      Salary
380   195.0       LSU   1100602.0
381   205.0       LSU    200600.0
382   195.0  Kentucky  15851950.0
383   235.0    Kansas   2814000.0
384   183.0     Texas   3000000.0
                 Name            Team  Number Position   Age Height  Weight  \
385       Will Barton  Denver Nuggets     5.0       SF  25.0    6-6   175.0
386   Wilson Chandler  Denver Nuggets    21.0       SF  29.0    6-8   225.0
387    Kenneth Faried  Denver Nuggets    35.0       PF  26.0    6-8   228.0
388  Danilo Gallinari  Denver Nuggets     8.0       SF  27.0   6-10   225.0
389       Gary Harris  Denver Nuggets    14.0       SG  21.0    6-4   210.0

            College      Salary
385         Memphis   3533333.0
386          DePaul  10449438.0
387  Morehead State  11235955.0
388             NaN  14000000.0
389  Michigan State   1584480.0
                  Name            Team  Number Position   Age Height  Weight  \
390       Nikola Jokic  Denver Nuggets    15.0        C  21.0   6-10   250.0
391  Joffrey Lauvergne  Denver Nuggets    77.0        C  24.0   6-11   220.0
392        Mike Miller  Denver Nuggets     3.0       SG  36.0    6-8   218.0
393    Emmanuel Mudiay  Denver Nuggets     0.0       PG  20.0    6-5   200.0
394      Jameer Nelson  Denver Nuggets     1.0       PG  34.0    6-0   190.0

            College     Salary
390             NaN  1300000.0
391             NaN  1709719.0
392         Florida   947276.0
393             NaN  3102240.0
394  Saint Joseph's  4345000.0
                Name                    Team  Number Position   Age Height  \
395     Jusuf Nurkic          Denver Nuggets    23.0        C  21.0    7-0
396   JaKarr Sampson          Denver Nuggets     9.0       SG  23.0    6-9
397     Axel Toupane          Denver Nuggets     6.0       SG  23.0    6-7
398  Nemanja Bjelica  Minnesota Timberwolves    88.0       PF  28.0   6-10
399     Gorgui Dieng  Minnesota Timberwolves     5.0        C  26.0   6-11

     Weight     College     Salary
395   280.0         NaN  1842000.0
396   214.0  St. John's   258489.0
397   210.0         NaN        NaN
398   240.0         NaN  3950001.0
399   241.0  Louisville  1474440.0
                 Name                    Team  Number Position   Age Height  \
400     Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11
401        Tyus Jones  Minnesota Timberwolves     1.0       PG  20.0    6-2
402       Zach LaVine  Minnesota Timberwolves     8.0       PG  21.0    6-5
403  Shabazz Muhammad  Minnesota Timberwolves    15.0       SF  23.0    6-6
404     Adreian Payne  Minnesota Timberwolves    33.0       PF  25.0   6-10

     Weight         College     Salary
400   240.0             NaN  8500000.0
401   195.0            Duke  1282080.0
402   189.0            UCLA  2148360.0
403   223.0            UCLA  2056920.0
404   237.0  Michigan State  1938840.0
                Name                    Team  Number Position   Age Height  \
405   Nikola Pekovic  Minnesota Timberwolves    14.0        C  30.0   6-11
406  Tayshaun Prince  Minnesota Timberwolves    12.0       SF  36.0    6-9
407      Ricky Rubio  Minnesota Timberwolves     9.0       PG  25.0    6-4
408     Damjan Rudez  Minnesota Timberwolves    10.0       SF  29.0    6-9
409       Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10

     Weight       College      Salary
405   307.0           NaN  12100000.0
406   212.0      Kentucky    947276.0
407   194.0           NaN  12700000.0
408   230.0           NaN   1149500.0
409   250.0  Fresno State         NaN
                   Name                    Team  Number Position   Age Height  \
410  Karl-Anthony Towns  Minnesota Timberwolves    32.0        C  20.0    7-0
411      Andrew Wiggins  Minnesota Timberwolves    22.0       SG  21.0    6-8
412        Steven Adams   Oklahoma City Thunder    12.0        C  22.0    7-0
413       Nick Collison   Oklahoma City Thunder     4.0       PF  35.0   6-10
414        Kevin Durant   Oklahoma City Thunder    35.0       SF  27.0    6-9

     Weight     College      Salary
410   244.0    Kentucky   5703600.0
411   199.0      Kansas   5758680.0
412   255.0  Pittsburgh   2279040.0
413   255.0      Kansas   3750000.0
414   240.0       Texas  20158622.0
             Name                   Team  Number Position   Age Height  \
415    Randy Foye  Oklahoma City Thunder     6.0       SG  32.0    6-4
416  Josh Huestis  Oklahoma City Thunder    34.0       SF  24.0    6-7
417   Serge Ibaka  Oklahoma City Thunder     9.0       PF  26.0   6-10
418   Enes Kanter  Oklahoma City Thunder    11.0        C  24.0   6-11
419  Mitch McGary  Oklahoma City Thunder    33.0       PF  24.0   6-10

     Weight    College      Salary
415   213.0  Villanova   3135000.0
416   230.0   Stanford   1140240.0
417   245.0        NaN  12250000.0
418   245.0   Kentucky  16407500.0
419   255.0   Michigan   1463040.0
               Name                   Team  Number Position   Age Height  \
420   Nazr Mohammed  Oklahoma City Thunder    13.0        C  38.0   6-10
421  Anthony Morrow  Oklahoma City Thunder     2.0       SG  30.0    6-5
422   Cameron Payne  Oklahoma City Thunder    22.0       PG  21.0    6-3
423  Andre Roberson  Oklahoma City Thunder    21.0       SG  24.0    6-7
424    Kyle Singler  Oklahoma City Thunder     5.0       SF  28.0    6-8

     Weight       College     Salary
420   250.0      Kentucky   222888.0
421   210.0  Georgia Tech  3344000.0
422   185.0  Murray State  2021520.0
423   210.0      Colorado  1210800.0
424   228.0          Duke  4500000.0
                  Name                    Team  Number Position   Age Height  \
425       Dion Waiters   Oklahoma City Thunder     3.0       SG  24.0    6-4
426  Russell Westbrook   Oklahoma City Thunder     0.0       PG  27.0    6-3
427    Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8
428    Al-Farouq Aminu  Portland Trail Blazers     8.0       SF  25.0    6-9
429    Pat Connaughton  Portland Trail Blazers     5.0       SG  23.0    6-5

     Weight      College      Salary
425   220.0     Syracuse   5138430.0
426   200.0         UCLA  16744218.0
427   240.0       Kansas    525093.0
428   215.0  Wake Forest   8042895.0
429   206.0   Notre Dame    625093.0
                 Name                    Team  Number Position   Age Height  \
430      Allen Crabbe  Portland Trail Blazers    23.0       SG  24.0    6-6
431          Ed Davis  Portland Trail Blazers    17.0        C  27.0   6-10
432  Maurice Harkless  Portland Trail Blazers     4.0       SF  23.0    6-9
433  Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5
434       Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0

     Weight           College     Salary
430   210.0        California   947276.0
431   240.0    North Carolina  6980802.0
432   215.0        St. John's  2894059.0
433   215.0              Duke  6000000.0
434   265.0  Central Michigan  5016000.0
               Name                    Team  Number Position   Age Height  \
435  Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1
436  Damian Lillard  Portland Trail Blazers     0.0       PG  25.0    6-3
437   C.J. McCollum  Portland Trail Blazers     3.0       SG  24.0    6-4
438    Luis Montero  Portland Trail Blazers    44.0       SG  23.0    6-7
439   Mason Plumlee  Portland Trail Blazers    24.0        C  26.0   6-11

     Weight         College     Salary
435   245.0        Illinois  3075880.0
436   195.0     Weber State  4236287.0
437   200.0          Lehigh  2525160.0
438   185.0  Westchester CC   525093.0
439   235.0            Duke  1415520.0
              Name                    Team  Number Position   Age Height  \
440  Brian Roberts  Portland Trail Blazers     2.0       PG  30.0    6-1
441    Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0    6-9
442  Trevor Booker               Utah Jazz    33.0       PF  28.0    6-8
443     Trey Burke               Utah Jazz     3.0       PG  23.0    6-1
444     Alec Burks               Utah Jazz    10.0       SG  24.0    6-6

     Weight   College     Salary
440   173.0    Dayton  2854940.0
441   240.0   Indiana  2637720.0
442   228.0   Clemson  4775000.0
443   191.0  Michigan  2658240.0
444   214.0  Colorado  9463484.0
               Name       Team  Number Position   Age Height  Weight  \
445      Dante Exum  Utah Jazz    11.0       PG  20.0    6-6   190.0
446  Derrick Favors  Utah Jazz    15.0       PF  24.0   6-10   265.0
447     Rudy Gobert  Utah Jazz    27.0        C  23.0    7-1   245.0
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0

          College      Salary
445           NaN   3777720.0
446  Georgia Tech  12000000.0
447           NaN   1175880.0
448        Butler  15409570.0
449          Duke   1348440.0
              Name       Team  Number Position   Age Height  Weight   College  \
450     Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0       NaN
451  Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0    Dayton
452     Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0  Kentucky
453   Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0    Butler
454      Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0       NaN

        Salary
450  2050000.0
451   981348.0
452  2239800.0
453  2433333.0
454   900000.0
             Name       Team  Number Position   Age Height  Weight College  \
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas

        Salary
455  2900000.0
456   947276.0

## Creación de objetos
### Series
- Una serie es un array unidimensional de datos que puede contener cualquier tipo de datos.
- Las etiquetas también son conocidas como indices.

In [3]:
'''
Define una serie de pandas con los valores [1,2,3,4,5]  y los indices [a,b,c,d,e]
'''
s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
s['e']

5

In [4]:
'''
Define una serie con indices int y valores string
'''
s = pd.Series(['1','2','3','4','5'], index=[1,2,3,4,5])
s[3]

'3'

In [6]:
'''
Define el mismo array que anter pero ahora no indiques los indices.
'''
s = pd.Series(['1','2','3','4','5'])
s

0    1
1    2
2    3
3    4
4    5
dtype: object

Como se puede ver, la serie es un array de datos y al no indicar una etiqueta, se asigna una etiqueta por defecto.

Ejemplo:
s = pd.Series(data, index=index)
data puede ser del tipo:
- Diccionario python
- ndarray
- un escalar

In [7]:
'''
Define una serie a pasando por parámetro un diccionario con los valores y los indices.
'''
data = {'a':1, 'b':2}
s = pd.Series(data)
s

a    1
b    2
dtype: int64

In [10]:
'''
Define una serie a1 pasando por parámetro un ndarray con los valores y opcionalmente los indices.
'''
a1 = pd.Series(np.array([1,2,3,4,5,6]))
a1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [13]:
'''
Define una serie a2 pasando por parámetro un escalar.
'''
a2 = pd.Series(0, index=[1,2,3,4,5,6,7])
a2

# Si no le pasamos los valores del index, la serie se rellena con el primer valor
#a2 = pd.Series(5)
#a2

1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64

#### Series como Arrays

Las Series actuan muy parecidas a un ndarray, y son un argumento válido para muchas funciones de NumPy. Sin embargo, operaciones como slicing también seleccionarán el índice.

In [14]:
'''
Dada la serie b, obtén el valor de la posición 'b'.
'''
b = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'])
print(b)
print('Valor posición b:', b['b'])

a    1
b    3
c    5
d    7
e    6
f    8
dtype: int64
Valor posición b: 3

In [22]:
'''
Dada la serie b3, obtén el valor de las tres últimas posiciones 
'''
b3 = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'])
print(b3)
print('--------------')
print(b3[-3:]) # Del -3 hasta el final del array
print('--------------')
print(b3[-3:6]) # Del -3 hasta el 6
print('--------------')
print(b3[3:]) # Del 3 hasta el final del array
print('--------------')
print(b3[len(b3)-3:]) # Usando el tamaño de b-3

a    1
b    3
c    5
d    7
e    6
f    8
dtype: int64
--------------
d    7
e    6
f    8
dtype: int64
--------------
d    7
e    6
f    8
dtype: int64
--------------
d    7
e    6
f    8
dtype: int64
--------------
d    7
e    6
f    8
dtype: int64

In [24]:
'''
Dada la serie b4, obten los elementos que sean mayores que 5.
'''
b4 = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'])
print(b4)
b4[b4 > 5]

a    1
b    3
c    5
d    7
e    6
f    8
dtype: int64

d    7
e    6
f    8
dtype: int64

In [25]:
'''
Dada la serie b5, obten los elementos que sean mayores que 5 y menores que 7.
'''
b5 = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'])
print(b5)
b5[(b5 > 5) & (b5 < 7)]

a    1
b    3
c    5
d    7
e    6
f    8
dtype: int64

e    6
dtype: int64

In [27]:
'''
Dada la serie b6, obten los elementos correspondientes a los índices 'b' y 'c'.
'''
b6 = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'])
print(b6)
b6[['b', 'c']]

a    1
b    3
c    5
d    7
e    6
f    8
dtype: int64

b    3
c    5
dtype: int64

In [29]:
'''
Dada la serie b7, mapea los elementos de la serie con una función. (mulpliplicar por 2, por ejemplo)
'''
b7 = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'])
print(b7)

# list(map(lambda x: x*2, b7))
b7 * 2

a    1
b    3
c    5
d    7
e    6
f    8
dtype: int64

a     2
b     6
c    10
d    14
e    12
f    16
dtype: int64

In [32]:
pd.Series(map(lambda x: str(x) + 'a', b7))

0    1a
1    3a
2    5a
3    7a
4    6a
5    8a
dtype: object

Podemos consultar el tipo de datos de una serie con dtype, tal como se hacía en numpy.

In [34]:
'''
Define una serie c de tipo float64 y muestra el tipo de dato de los elementos.
'''
c = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'], dtype = 'float64')
print(c)
print(c.dtype)

a    1.0
b    3.0
c    5.0
d    7.0
e    6.0
f    8.0
dtype: float64
float64

Si lo que queremos es obtener el array tal cual, podemos usar el método array.

In [35]:
'''
Define una serie c1 de tipo float64 y muestra el array de datos.
'''
c1 = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'], dtype = 'float64')
print(c1.array)

<PandasArray>
[1.0, 3.0, 5.0, 7.0, 6.0, 8.0]
Length: 6, dtype: float64

#### Series como diccionarios

También podemos entender una serie como un diccionario.

In [37]:
'''
Dado una serie d, obtén el valor de la posición 'f'.
'''
d = pd.Series([1,3,5,7,6,8], index=['a','b','c','d','e','f'], dtype = 'float64')
d['f']

8.0

In [38]:
# Si el índice no existe, se devuelve error
print(d['g'])

KeyError: 'g'

### Head and tail

- head: devuelve los primeros n elementos de la serie.
- tail: devuelve los últimos n elementos de la serie.

In [44]:
'''
Genera un dataset con 25 valores aleatorios. Los valores se generan entre 0 y 1.
'''
data = np.random.rand(25)
dataset = pd.DataFrame(data)
dataset

           0
0   0.824226
1   0.322949
2   0.796387
3   0.881390
4   0.481466
5   0.431298
6   0.817566
7   0.108679
8   0.883576
9   0.927623
10  0.798098
11  0.017567
12  0.338443
13  0.096343
14  0.476597
15  0.404175
16  0.677979
17  0.290186
18  0.791336
19  0.618660
20  0.635663
21  0.942160
22  0.812188
23  0.550603
24  0.120111

In [47]:
'''
muestra los primers 10 valores de la serie.
'''
dataset.head(10)

          0
0  0.824226
1  0.322949
2  0.796387
3  0.881390
4  0.481466
5  0.431298
6  0.817566
7  0.108679
8  0.883576
9  0.927623

In [46]:
'''
muestra los primers 5 valores de la serie.
'''
dataset.head()

          0
0  0.824226
1  0.322949
2  0.796387
3  0.881390
4  0.481466

In [48]:
'''
Muestra los últimos 5 valores de la serie.
'''
dataset.tail()

           0
20  0.635663
21  0.942160
22  0.812188
23  0.550603
24  0.120111

In [49]:
'''
Muestra los últimos 10 valores de la serie.
'''
dataset.tail(10)

           0
15  0.404175
16  0.677979
17  0.290186
18  0.791336
19  0.618660
20  0.635663
21  0.942160
22  0.812188
23  0.550603
24  0.120111

### DataFrame

In [ ]:
'''
Define un dataframe con dos columnas, 5 filas y valores aleatorios.
'''

In [ ]:
'''
Define un dataframe partiendo de un diccionario.
'''

In [ ]:
'''
Define un dataframe partiendo de un numpy ndarray.
'''

In [ ]:
'''
Muestra las columnas del dataframe del ejercicio anterior.
'''

##### Seleccion por posición

En un array o un dataframe, podemos seleccionar uno o varios elementos por su posición.

In [ ]:
'''
Define un dataframe de valores enteros con 4 columnas y 5 filas. A continuación seleciona los elementos de la posición 3.
'''

Como hemos venido viendo hasta ahora, podemos emplear slices con iloc.

In [ ]:
'''
Define un dataframe de valores enteros con 4 columnas y 5 filas. A continuación seleciona los elementos de la posición 3 y 4.
'''